.cake-display {
	position: relative;
}
.cake-display > li {
	position: relative;
	list-style-type: none;
}
.cake-display > li.decoration {
	z-index: 100;
}
.cake-display > li.icing {
	top: -269px;
}
.cake-display > li.cake {
	top: -300px;
}